textarea{ 
  width: 75%; 
  min-width:75%; 
  max-width:75%; 

  height:65%; 
  min-height:65%;  
  max-height:65%;
}

h2{
	margin-left: 3%
}
h1 {
	padding-left: 30px;
}

#textbody {
	padding-left: 20px;
	padding-top: 10px;
	margin-left: 5%;
	margin-top: 10px;
}

button{
	margin-top: 5px;
	margin-left: 5%
}

p{
	margin-top: 10px;
	margin-left: 10px;

}